[package]
name = "wipers"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
bstr = "1.8.0"
clap = { version = "4.4.8", features = ["derive"] }
gix-config = { version = "0.31.0" }
gix-discover = "0.26.0"
gix-path = "0.10.0"
ignore = "0.4.20"
itertools = "0.12.0"
path-absolutize = { version = "3.1.1", features = ["once_cell_cache"] }
rayon = "1.8.0"
rustc-hash = "1.1.0"
serde = { version = "1.0.192", features = ["derive"] }
serde_json = "1.0.108"
serde_with = "3.4.0"
thiserror = "1.0.50"
toml = "0.8.8"
