[package]
name = "nbwipers"
version = "0.3.2"
edition = "2021"
license = "MIT"
description = "Wipe clean your Jupyter Notebooks!"
repository = "https://github.com/felixgwilliams/nbwipers"
homepage = "https://github.com/felixgwilliams/nbwipers"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
bstr = "1.8.0"
clap = { version = "4.4.8", features = ["derive"] }
clap-markdown = { version = "0.1.3", optional = true }
colored = "2.0.4"
gix-attributes = "0.21.1"
gix-config = { version = "0.33.1" }
gix-discover = "0.28.1"
gix-path = "0.10.0"
ignore = "0.4.20"
inquire = "0.6.2"
itertools = "0.12.0"
path-absolutize = { version = "3.1.1", features = ["once_cell_cache"] }
rayon = "1.8.0"
rustc-hash = "1.1.0"
serde = { version = "1.0.192", features = ["derive"] }
serde_json = { version = "1.0.108", features = ["preserve_order"] }
serde_with = "3.4.0"
thiserror = "1.0.50"
toml = "0.8.8"


[features]
markdown-help = ["dep:clap-markdown"]

[dev-dependencies]
tempfile = "3.8.1"
